*{
    box-sizing:border-box;

}

body{
  min-height: 100vh;
}

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;

  
}


/*---------------------------------------------------------------------------*/

/*---Style the navigation section----*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
   /* background-color: #E7FEFF;*/
   border-bottom: 1px solid rgb(236, 239, 241);
   width: 100%;

}
.brand-title{
    font-size: 2rem;
    font-family: futura;
    margin: 1rem;
   color:  rgb(0, 82, 255);
}



.navbar-links ul{
margin: 1rem;
padding: 0;
display: flex;
}

.navbar-links li{
    list-style: none;
margin-left: 1rem;
    }

.navbar-links li a{
    font-family: futura;
        text-decoration: none;
        color: rgb(5, 15, 25);
        padding: 2rem;
        display: block;
        font-size: 1.7rem;
        }
        
        .navbar-links li a:hover{
            color:  rgb(0, 82, 255);
              }
  

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px
}
.toggle-button .bars{
    height: 3px;
    width: 100%;
    background-color: rgb(0, 82, 255);
    border-radius: 10px;

}
.getStartedButton{
   margin-top: 15px;
    height: 50px;
    cursor: pointer;
    font-family: futura;
    font-size: 1.25rem;
    color: white;
background-color: rgb(0, 82, 255);
border-radius: 30px;
transition: transform 0.3s ease;

box-shadow: 5px 5px #009FFD;
}



.getStartedButton:hover{

animation: none;
background-color: white;
color: black;


}

/*---Media querry for navigation----*/
@media (max-width: 1200px){
    .toggle-button{
        display: flex;
      top: 1.7rem;
    }
    
    .navbar-links{
    display: none;
    text-align: center;
    }
    
    
    
    .navbar{
        flex-direction: column;
        align-items: center;
   
    
    }
    .navbar-links ul{
    flex-direction: column;
    
    
    }
    
    .navbar-links li{
        text-align: center;
    
    
    }
    
    .navbar-links li:hover{
    border-bottom: none;
    }
    
    
    .navbar-links li a:hover{
        color:rgb(0, 82, 255);
        }
    
    
    .getStartedButton{
       font-family: futura;
        font-size: 1.5rem;
    margin-left: 1rem;;
    text-align: center;
        color: white;
    background-color: rgb(0, 82, 255);
    animation: none;
    border-radius: 50px;
    box-shadow: 5px 5px #009FFD;
    
    }
    
    .getStartedButton:hover{
    color: black;
    background-color: white;
    
    
    }
    .navbar-links.active{
        display: flex;
    
        }
        
    }
    /*---End of media query for navigation----*/



    /*
    send form
    */

    .sendFundsSection{
        display: block;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .personalMessage{
        font-size: 2.5rem;
        font-family: futura;
        color: rgb(0, 82, 255);
    }

    .personalLabel{
        font-family: futura;
        font-size: 1rem;
    }

    .transferEmail{
        border: 2px solid gray;
        border-radius: 15px;
        width: 25rem;
        height: 3rem;
    }

    .transferAmount{
        border: 2px solid gray;
        border-radius: 15px;
        width: 25rem;
        height: 3rem;
    }

    .sendMoneyBTN{
        cursor: pointer;
        font-family: futura;
        font-size: 1.25rem;
        color: white;
        background-color: rgb(0, 82, 255);
        border-radius: 30px;
        transition: transform 0.3s ease;
        width: 10rem;
        box-shadow: 5px 5px #009FFD;
    }
    .sendMoneyBTN:hover{
        animation: none;
        background-color: white;
        color: black;
        
        }

        select{
            border: 2px solid gray;
            border-radius: 15px;
            width: 25rem;
            height: 3rem;
        }
    @media (max-width: 1200px){
       
        select{
            border: 2px solid gray;
            border-radius: 15px;
            width: 20rem;
            height: 3rem;
        }
        .transferEmail{
            border: 2px solid gray;
            border-radius: 15px;
            width: 20rem;
            height: 3rem;
        }

        .transferAmount{
            border: 2px solid gray;
            border-radius: 15px;
            width: 20rem;
            height: 3rem;
        }

    }